# Logs
logs
*.Logs
*.log

# Runtime reports
results
reports
html-report
temp

# Output of 'npm pack'
*.tgz
*.zip

# dotenv environment variables file
.env
.env.test

# runtime artifacts folder(s)
*-*-*_*-*-*.*

# maveb
target
